setuptools>=65.0.0
Flask==3.0.0
Flask-Login==0.6.3
Flask-SocketIO==5.3.5
simple-websocket>=1.0.0
Flask-Cors==4.0.0
WTForms==3.1.1
requests==2.31.0
gunicorn==21.2.0
selenium==4.15.2
supabase>=2.9.0
python-dotenv==1.0.1
